.tt-suggestion {
  padding: 4px;
  background-color: #eee;
  margin-top: 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.tt-suggestion:before {
  /* chevron to be overridden by cursor pointer */
  content: "\2023\0020";
}
.tt-cursor {
  background-color: #888;
  color: white;
}
.tt-cursor:before {
  color: white;
}
.tt-cursor a:link, .tt-cursor a:visited {
  color: white;
}

.cite-component-container:before {
  content: "\23FA";
}
.cite-component-container:first-child:before,
.cite-component-content:last-child:before {
  content: "";
}
.cite-authors ul {
  display: inline;
  padding: 0;
}
.cite-pubinfo:after {
  /* the colon is consistent with Chicago style, but redundant if we use the circle separators
  /*content: ": ";*/
}
.cite-date:before {
  content: " (";
}
.cite-date:after {
  content: ") ";
}
.cite-volume:before {
  content: "Vol "
}
.cite-volume:after {
  content: ", "
}
.cite-issue:before {
  content: "Issue ";
}
.cite-authors ul li {
  display: inline;
}
.cite-authors ul li:after {
  content: ", ";
}
.cite-authors ul li:last-child:after {
  content: "";
}
.cite-title:before { content: open-quote; }
.cite-title:after  { content: close-quote; }
.cite-container {
  font-style: italic;
}
.cite-doi:before {
  content: "doi:";
}
